/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header_active {
  background-color: #0E1D28;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  /*HEADER START*/
}
.wrapper .header_wrepper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.wrapper .header_wrepper .header_nav .header_list {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .header_wrepper .header_nav .header_list .header_item {
  margin-right: 82px;
}
.wrapper .header_wrepper .header_nav .header_list .header_item .header_link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.wrapper .header_wrepper .header_nav .header_list .header_item .header_link:hover,
.wrapper .header_wrepper .header_nav .header_list .header_item .header_link:focus,
.wrapper .header_wrepper .header_nav .header_list .header_item .header_link:active {
  opacity: 0.75;
}
.wrapper .header_wrepper .header_nav .header_list .header_item:last-child {
  margin-right: 0;
}

/*HEADER END*/
/*INTRO START*/
.main .intro {
  padding-bottom: 223px;
  min-height: 100vh;
  background: url(../img/intro.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  margin-bottom: 150px;
}
.main .intro .intro_title {
  max-width: 619px;
  margin-bottom: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}
.main .intro .intro_subTitle {
  max-width: 546px;
  margin-bottom: 59px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.main .intro .search_form .search_form_wrap .search_form_info {
  display: flex;
  flex-wrap: wrap;
}
.main .intro .search_form .search_form_wrap .search_form_info .search_form_field {
  width: 297px;
  background: transparent url(../img/svg/oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.main .intro .search_form .search_form_wrap .search_form_info .search_form_field::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.main .intro .search_form .search_form_wrap .search_form_info .search_form_field::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.main .intro .search_form .search_form_wrap .search_form_info .search_form_submit {
  background-color: #1b7dff;
  padding: 15px 39px;
  text-transform: uppercase;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  border: 0;
}
.main .intro .search_form .search_form_wrap .search_form_info .search_form_submit:hover,
.main .intro .search_form .search_form_wrap .search_form_info .search_form_submit:focus,
.main .intro .search_form .search_form_wrap .search_form_info .search_form_submit:active {
  background-color: #194074;
}
.main .benefits {
  margin-bottom: 131px;
}
.main .benefits .benefits_wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}
.main .benefits .benefits_wrap .benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.main .benefits .benefits_wrap .benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card-pic .benefits_card-thumb {
  display: block;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card_besc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 29px;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card_more {
  display: inline-block;
  padding-right: 59px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/shape.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card_more:hover,
.main .benefits .benefits_wrap .benefits_cards .benefits_card .benefits_card_more:focus {
  background: url(../img/svg/shape.svg) no-repeat right center;
}
.main .places {
  margin-bottom: 131px;
}
.main .places .wrapper-full .places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.main .places .wrapper-full .places_caption .places_title {
  margin-right: 15px;
}
.main .places .wrapper-full .places_caption .places_vie_all {
  padding-right: 59px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
  background: url(../img/svg/shape.svg) no-repeat right center;
  transition: 0.2s all;
}
.main .places .wrapper-full .places_caption .places_vie_all:hover,
.main .places .wrapper-full .places_caption .places_vie_all:focus {
  opacity: 0.65;
}
.main .places .wrapper-full .places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.main .places .wrapper-full .places_cards .places_card {
  position: relative;
  overflow: hidden;
}
.main .places .wrapper-full .places_cards .places_card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.main .places .wrapper-full .places_cards .places_card:hover .places-card_pic {
  transform: scale(1.05);
}
.main .places .wrapper-full .places_cards .places-card_size_sm {
  grid-column: span 2;
}
.main .places .wrapper-full .places_cards .places-card_size_sm .places_card_title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.main .places .wrapper-full .places_cards .places-card_size_lg {
  grid-column: span 3;
}
.main .places .wrapper-full .places_cards .places-card_size_lg .places-card_pic_size_lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .places .wrapper-full .places_cards .places-card_size_lg .places-card_pic_size_sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .places .wrapper-full .places_cards .places-card_size_lg .places-card_pic {
  width: 100%;
  transition: 0.15s all;
}
.main .places .wrapper-full .places_cards .places-card_size_lg .places_card_title {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.main .places .wrapper-full .places_cards .places-card_size_lg .places-card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.main .tours {
  margin-bottom: 139px;
}
.main .tours .wrapper-full .tours_tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.main .tours .wrapper-full .tours_tour .tour_pic .tour_thomb {
  width: 100%;
}
.main .tours .wrapper-full .tours_tour .tour_info {
  padding-left: 47px;
}
.main .tours .wrapper-full .tours_tour .tour_info .tour_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}
.main .tours .wrapper-full .tours_tour .tour_info .tour_desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}
.main .tours .wrapper-full .tours_tour .tour_info .tour_more {
  padding-right: 59px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
  background: url(../img/svg/shape.svg) no-repeat right center;
  transition: 0.2s all;
}
.main .tours .wrapper-full .tours_tour .tour_info .tour_more:hover,
.main .tours .wrapper-full .tours_tour .tour_info .tour_more:focus {
  transition: 0.2s all;
  opacity: 0.65;
}
.main .top {
  margin-bottom: 86px;
}
.main .top .wrapper-full .top_title {
  margin-bottom: 64px;
}
.main .top .wrapper-full .top_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}
.main .top .wrapper-full .top_cards .top_card {
  display: flex;
  flex-direction: column;
}
.main .top .wrapper-full .top_cards .top_card .top_card-desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}
.main .top .wrapper-full .top_cards .top_card .top_card-more {
  background-color: #1b7dff;
  padding: 12px 19px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
  border: 0;
  transition: 0.15s;
  width: 118px;
  margin: auto 0 0 0;
}
.main .top .wrapper-full .top_cards .top_card .top_card-more:hover, .main .top .wrapper-full .top_cards .top_card .top_card-more:focus {
  background-color: #194074;
}
.main .top .wrapper-full .top_cards .top_card .top_card-pic {
  position: relative;
  margin-bottom: 45px;
}
.main .top .wrapper-full .top_cards .top_card .top_card-pic .top_card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);
}
.main .top .wrapper-full .top_cards .top_card .top_card-pic .top_card-stats .top_card-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto 0 0;
}
.main .top .wrapper-full .top_cards .top_card .top_card-pic .top_card-stats .top_card-likes {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 20px;
  background: url(../img/svg/heart.svg) no-repeat right;
  margin-right: 14px;
}
.main .top .wrapper-full .top_cards .top_card .top_card-pic .top_card-stats .top_card-comments {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 23px;
  background: url(../img/svg/com.svg) no-repeat right;
}
.main .videos {
  width: 100%;
}
.main .videos .videos_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.main .videos .videos_wrapper .video_item {
  padding-top: 56.25%;
}
.main .videos .videos_wrapper .video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */