/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}
.section-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}
.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  /*HEADER START*/
  .header_wrepper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;

    .header_nav {
      .header_list {
        display: flex;
        flex-wrap: wrap;

        .header_item {
          margin-right: 82px;

          .header_link {
            font-size: 18px;
            line-height: 24px;
            color: white;
            text-decoration: none;
          }
          .header_link:hover,
          .header_link:focus,
          .header_link:active {
            opacity: 0.75;
          }
        }
        .header_item:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
/*HEADER END*/
/*INTRO START*/
.main {
  .intro {
    min-height: 100vh;
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    margin-bottom: 150px;

    .intro_title {
      max-width: 619px;
      margin-bottom: 22px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 60px;
      color: #ffffff;
    }
    .intro_subTitle {
      max-width: 546px;
      margin-bottom: 59px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    .search_form {
      .search_form_wrap {
        .search_form_info {
          display: flex;
          flex-wrap: wrap;
          .search_form_field {
            width: 297px;
            background: transparent url(../img/svg/oval.svg) no-repeat left 6px;
            background-size: 20px;
            border: 0;
            border-bottom: 2px solid #bfc0c5;
            margin-right: 60px;
            padding-left: 43px;
            padding-bottom: 22px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
          }
          .search_form_field::placeholder {
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
          }
          .search_form_submit {
            background-color: #1b7dff;
            padding: 15px 39px;
            text-transform: uppercase;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            border: 0;
          }
          .search_form_submit:hover,
          .search_form_submit:focus,
          .search_form_submit:active {
            background-color: #194074;
          }
        }
      }
    }
  }
  .benefits {
    margin-bottom: 131px;
    .benefits_wrap {
      max-width: 1262px;
      background-color: white;
      margin: 0 auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      position: relative;
      .benefits_title {
        width: 100%;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        padding: 93px 100px 88px 100px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        background-color: white;
      }
      .benefits_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 55px;
        padding: 0 100px;
        .benefits_card {
          grid-column: span 1;
          margin-bottom: 112px;
          .benefits_card-pic {
            max-width: 66px;
            margin-bottom: 37px;
            .benefits_card-thumb {
              display: block;
            }
          }
          .benefits_card_title {
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 26px;
          }
          .benefits_card_besc {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 29px;
          }
          .benefits_card_more {
            display: inline-block;
            padding-right: 59px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #006dfe;
            text-decoration: none;
            background: url(../img/svg/shape.svg) no-repeat 95% center;
            transition: 0.2s all;
          }
          .benefits_card_more:hover,
          .benefits_card_more:focus {
            background: url(../img/svg/shape.svg) no-repeat right center;
          }
        }
      }
    }
  }
  .places {
    .wrapper-full {
      .places_caption {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        .places_title{
          margin-right: 15px;
        }
        .places_vie_all {
          padding-right: 59px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          color: #006dfe;
          background: url(../img/svg/shape.svg) no-repeat right center;
          transition: 0.2s all;
        }
        .places_vie_all:hover,
        .places_vie_all:focus {
          opacity: 0.65;
        }
      }
    }
  }
}
